<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--    <form action="/login" method="post">-->
        <form action="{{ url_for(receive_data) }}" method="post">
        <label><b>Name</b></label>
        <input type="text" placeholder="name" name="username">
        <label><b>Password</b></label>
        <input type="text" placeholder="password" name="password">
        <button type="submit">Ok</button>
    </form>
</body>
</html>
